<!DOCTYPE html>
<html>
<head>

    </head>
<body color="white">

  <div class="container" id="container">
                    
    <div class="message" id="message"><img src="/assets/Banner.png" height="200" width="200">

      <div class="frontText" id="frontText">hey</div>

      <div class="login" id="login">

        <%= form_for @info, url: {action: "login"} do |f| %>
        <div>
        <%= f.label :account %>
        <%= f.text_field :account %>
        </div>
        <br>
        <div>
        <%= f.label :passcode %>
        <%= f.password_field :passcode %>
        </div>
        <br>
        <div>
        <center><%= f.submit "Login" %></center>
        <% end %>

        </div>

    </div>

  	</div>
        
    

    <div class="data" id="data">

      <%= form_for @info do |f| %>
      <div>
      <%= f.label :account %>
      <%= f.text_field :account %>
      </div>
      <br>
      <div>
      <%= f.label :passcode %>
      <%= f.password_field :passcode %>
      </div>
      <br>
      <div>
      <%= f.submit "Create Account" %>
      <% end %>

          </div>

          <center>
          <img src="/assets/JoanB1.png" height="50" width="50" />
          <img src="/assets/ImaB1.png" height="50" width="50" />
          <img src="/assets/StephB1.png" height="50" width="50" />
          <img src="/assets/accuracy.png" />
          </center>

      </div>

  </div>


</body>
</html>




