<!DOCTYPE html>
<html>
<head>

    </head>
<body color="white">

  <div class="container" id="container">
                    
    <div class="message" id="message"><img src="/assets/Banner.png" height="200" width="200">

      <div class="frontText" id="frontText">Let's fight!☄</div>

      <div class="login" id="login">

        <%= form_for @info, url: {action: "login"} do |f| %>
        <div>
        <%= f.label :account %>
        <%= f.text_field :account %>
        </div>
        <br>
        <div>
        <%= f.label :passcode %>
        <%= f.password_field :passcode %>
        </div>
        <br>
        <div>
        <center><%= f.submit "Login" %></center>
        <% end %>

        </div>

    </div>

  	</div>
        
    

    <div class="data" id="data">

      <%= form_for @info do |f| %>
      <div>
      <%= f.label :account %>
      <%= f.text_field :account %>
      </div>
      <br>
      <div>
      <%= f.label :passcode %>
      <%= f.password_field :passcode %>
      </div>
      <br>
      <div>
      <%= f.submit "Create Account" %>
      <% end %>

          </div><br><br><br><br>

          The object of the game is simple: destroy the enemy's tower: 
          <img src="/assets/WhiteTower.png" height="50" width="50" /><br><br><br><br>

          Click on any square to move towards it.<br><br><br><br>

          Clicking on an enemy in an adjacent square will attack it.<br><br><br><br>

          Tap your hero to use your <i>special ability</i>!<br><br><br><br><br><br><br>

          <center>
          <img src="/assets/JoanB1.png" height="50" width="50" />
          <img src="/assets/ImaB1.png" height="50" width="50" />
          <img src="/assets/StephB1.png" height="50" width="50" />
          </center>

      </div>

  </div>


</body>
</html>




