<!DOCTYPE html> 

<html>
  <head>
      
       <link rel="icon" 
      type="image/png" 
      href="/favicon.ico">
      
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">

      
<title>board1</title>  
      

      
</head>   

<body onKeyPress="google(event)" onload="CreateContent(600,600,'#b0c4de','817px');CreateBoard(40,40,10,10);assign();ClearUI();HPMPbars();">

    <div class="container" id="container">


    <script type="text/javascript" charset="utf-8">


    Joan = new piece("Joan", "JoanP1", "JoanB1", 20, 20, 0, 10, 10, 0, 0, 0, null, 0, null);

    Ima = new piece("Ima", "ImaP1", "ImaB1", 20, 20, 0, 10, 10, 0, 0, 0, null, 0, null);

    Steph = new piece("Steph", "StephP1", "StephB1", 20, 20, 0, 10, 10, 0, 0, 0, null, 0, null);


    var yourHero;

    var enemyHero;


    function assign() {

      yourHero = '<%= h @yourHero -%>';  

      if (yourHero == "Joan") { yourHero = Joan }

      if (yourHero == "Ima") { yourHero = Ima }

      if (yourHero == "Steph") { yourHero = Steph }

      enemyHero = '<%= h @enemyHero -%>';

      if (enemyHero == "Joan") { enemyHero = Joan }

      if (enemyHero == "Ima") { enemyHero = Ima }

      if (enemyHero == "Steph") { enemyHero = Steph }


        var yourHp = '<%= h @yourHp -%>';
        var yourMaxhp = '<%= h @yourMaxhp -%>';
        var yourShield = '<%= h @yourShield -%>';
        var yourMp = '<%= h @yourMp -%>';
        var yourMaxmp = '<%= h @yourMaxmp -%>';
        var yourPos = '<%= h @yourPos -%>';
        var yourKills = '<%= h @yourKills -%>';
        var yourDeaths = '<%= h @yourDeaths -%>';
        var yourStatus = '<%= h @yourStatus -%>';
        var yourExp = '<%= h @yourExp -%>';
        var yourAllies = '<%= h @yourAllies -%>';
        var yourAction = '<%= h @yourAction -%>';

        var enemyHp = '<%= h @enemyHp -%>';
        var enemyMaxhp = '<%= h @enemyMaxhp -%>';
        var enemyShield = '<%= h @enemyShield -%>';
        var enemyMp = '<%= h @enemyMp -%>';
        var enemyMaxmp = '<%= h @enemyMaxmp -%>';
        var enemyPos = '<%= h @enemyPos -%>';
        var enemyKills = '<%= h @enemyKills -%>';
        var enemyDeaths = '<%= h @enemyDeaths -%>';
        var enemyStatus = '<%= h @enemyStatus -%>';
        var enemyExp = '<%= h @enemyExp -%>';
        var enemyAllies = '<%= h @enemyAllies -%>';
        var enemyAction = '<%= h @enemyAction -%>';


        yourHero['hp'] = Number(yourHp);
        yourHero['maxhp'] = Number(yourMaxhp);
        yourHero['shield'] = Number(yourShield);
        yourHero['mp'] = Number(yourMp);
        yourHero['maxmp'] = Number(yourMaxmp);
        yourHero['pos'] = Number(yourPos);
        yourHero['kills'] = Number(yourKills);
        yourHero['deaths'] = Number(yourDeaths);
        yourHero['status'] = yourStatus;
        yourHero['exp'] = Number(yourExp);
        yourHero['allies'] = yourAllies;
        yourHero['action'] = yourAction;

        enemyHero['hp'] = Number(enemyHp);
        enemyHero['maxhp'] = Number(enemyMaxhp);
        enemyHero['shield'] = Number(enemyShield);
        enemyHero['mp'] = Number(enemyMp);
        enemyHero['maxmp'] = Number(enemyMaxmp);
        enemyHero['pos'] = Number(enemyPos);
        enemyHero['kills'] = Number(enemyKills);
        enemyHero['deaths'] = Number(enemyDeaths);
        enemyHero['status'] = enemyStatus;
        enemyHero['exp'] = Number(enemyExp);
        enemyHero['allies'] = enemyAllies;
        enemyHero['action'] = enemyAction;

        place(yourHero.pos,yourHero);
        place(enemyHero.pos,enemyHero);

    }
    
            setTimeout(function(){ SendCommand() }, 1000);

    </script>



     </div> 

</body>
</html>